@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&family=Source+Code+Pro:wght@200&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

body {
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: f5f5f5;
    color: black;
}

.signup_container{
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    position: absolute;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    transition: 1s;
}

.signup_form{
    width: 80%;
    height: 80%;
    color: #9c04d3;
    display: inline-block;
    align-items: center;
    text-align: center;
    font-family: 'M PLUS 1', sans-serif;
    margin-left: 10%;
    margin-top: 5%;
    transition: 1s;
}

.signup_form input{
    width: 50%;
    height: 50px;
    margin: auto;
    margin-top: 10px;
    border-radius: 2px;
    border: 1px solid #B906FA;
    text-align: center; 
    font-size: 12px;
    font-weight: bold;
    font-family: 'Source Code Pro', monospace;
    color: #B906FA;
    background-color: white;
    transition: 1s;
}

.signup_form input[type=submit]{
    width: 25%;
    height: 50px;
    text-align: center; 
    font-size: 15px;
    font-weight: bold;
    font-family: 'Source Code Pro', monospace;
    color: white;
    margin: auto;
    margin-top: 10px;
    border-radius: 2px;
    border-color: #9c04d3;
    cursor: pointer; 
    display: block;
    background-color:#9c04d3 ;
    transition: 1s;
}

.signup_form input[type=submit]:hover,
.signup_form input[type=submit]:focus {
  background: #f700ff;
}
